# Import and Data Wrangling

In [ ]:
#import libraries 

import pandas as pd 
import numpy as np

### Fiji 

CPI Monthly

In [ ]:
# import data 

Fiji_CPI_raw = pd.read_csv('CPI_Fiji.csv')
Fiji_CPI_raw.head()

,Descriptor,BASE_PER,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,...,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08
0,"Consumer price indices by COICOP, 2014 Base Year",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,2014.0,82.3,82.5,81.6,81.5,82.5,83.4,83.8,85.9,...,114.1,113.6,113.8,113.3,112.9,114.4,114.4,112.2,112.6,111.6
2,Food and Non-alcoholic Beverage,2014.0,78.9,79.0,76.9,76.9,77.9,79.1,79.1,79.4,...,116.1,114.5,114.8,114.4,113.5,118.8,120.0,113.8,115.2,113.8
3,"Alcoholic Beverages, Tobacco and Narcotics",2014.0,70.0,68.5,70.0,69.6,70.4,70.6,72.1,72.7,...,224.6,224.2,224.2,216.2,215.5,216.7,215.0,213.6,212.2,205.8
4,Clothing and Footwear,2014.0,87.5,88.8,88.2,89.3,88.5,89.1,90.8,92.1,...,106.2,106.1,105.7,106.5,106.5,106.6,106.2,107.4,106.3,106.5

In [ ]:
#basic cleaning

# from columns 110 
Fiji_CPI_01 = Fiji_CPI_raw.iloc[:, np.r_[0,110:141]]

#keeping the Consumer price indices by COICOP, 2014  Base Year

Fiji_CPI_02 = Fiji_CPI_01.iloc[np.r_[1:15]]

#set index
Fiji_CPI_02 = Fiji_CPI_02.set_index('Descriptor')

#unstack 
Fiji_CPI_03 = Fiji_CPI_02.unstack().reset_index()

#name

Fiji_CPI_03['name'] = 'CPI_2014_' + Fiji_CPI_03['Descriptor']
Fiji_CPI_03['date'] = Fiji_CPI_03['level_0']
Fiji_CPI_03['value'] = Fiji_CPI_03[0]

In [ ]:
#second wrangling

Fiji_CPI_04 = Fiji_CPI_03

Fiji_CPI_04['frequency'] = 'monthly'
Fiji_CPI_04['country'] = 'fj'
Fiji_CPI_04['source'] = 'Official_Fiji'
Fiji_CPI_04['category'] = 'CPI'
Fiji_CPI_04['properties'] = '{currency = fjd}'

Fiji_CPI_04['metric_key'] = Fiji_CPI_04['name'] + '_' + Fiji_CPI_04['date']

In [ ]:
cols = ['metric_key','frequency','country','category','source','name','date','value','properties']
Fiji_CPI_04 = Fiji_CPI_04[cols]
Fiji_CPI_04.head()

,metric_key,frequency,country,category,source,name,date,value,properties
0,CPI_2014_Total_2018-01,monthly,fj,CPI,Official_Fiji,CPI_2014_Total,2018-01,110.4,{currency = fjd}
1,CPI_2014_Food and Non-alcoholic Beverage_2018-01,monthly,fj,CPI,Official_Fiji,CPI_2014_Food and Non-alcoholic Beverage,2018-01,107.9,{currency = fjd}
2,"CPI_2014_Alcoholic Beverages, Tobacco and Narc...",monthly,fj,CPI,Official_Fiji,"CPI_2014_Alcoholic Beverages, Tobacco and Narc...",2018-01,202.1,{currency = fjd}
3,CPI_2014_Clothing and Footwear_2018-01,monthly,fj,CPI,Official_Fiji,CPI_2014_Clothing and Footwear,2018-01,103.6,{currency = fjd}
4,"CPI_2014_Housing, Water, Elec., Gas and other ...",monthly,fj,CPI,Official_Fiji,"CPI_2014_Housing, Water, Elec., Gas and other ...",2018-01,94.5,{currency = fjd}

### Solomon Islands 

CPI monthly

In [ ]:
# import data


#2018
#SB_CPI_2018_jun_raw = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2018_jul_raw = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2018_aug_raw = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2018_sep_raw = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2018_oct_raw = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2018_nov_raw = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2018_dec_raw = pd.read_clipboard(header=None, squeeze=True)


#2019
#SB_CPI_2019_jan =pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_feb = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_mar = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_apr = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_may = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_jun = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_jul = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_aug = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_sep = pd.read_clipboard(header=None, squeeze=True) 
#SB_CPI_2019_oct = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_nov = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2019_dec = pd.read_clipboard(header=None, squeeze=True)



#2019
#SB_CPI_2020_jan = pd.read_clipboard(header=None, squeeze=True) 
#SB_CPI_2020_feb = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2020_mar = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2020_apr = pd.read_clipboard(header=None, squeeze=True)
#SB_CPI_2020_may = pd.read_clipboard(header=None, squeeze=True)

In [ ]:
#import cleaned data 
#refer to sb_CPI.ipynb for full script

sb_CPI = pd.read_csv('SB_CPI.csv')

### Samoa

GDP Quartely

In [ ]:
# import data

Samoa_GDP_raw = pd.read_csv('Samoa_GDP_quartely.csv')
Samoa_GDP_raw.head()

,Table 1(a): GDP by Industry â€“ Current Prices,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,Agriculture,Fishing,Food & Beverages manufac turing,Other manufac turing,Electricity and Water,Construction,Commerce,Transport,Accommodation & Restaurants,Communication,Financial Services,Business Services,Ownership of Dwellings,Public Administration,Personal & Other Services,Total Value added at market prices
1,Annual ($ million Tala),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,146.1,42.6,86.2,152.9,36.1,111.1,483.7,77.6,44.5,103.0,126.5,78.7,101.0,88.9,53.3,"1,732.2"
3,2008,154.0,44.3,73.7,133.2,39.2,118.9,520.0,88.4,45.8,102.5,120.8,80.3,110.9,97.7,54.7,"1,784.6"
4,2009,159.4,39.5,68.9,90.3,35.1,91.1,497.4,69.3,33.1,127.6,128.4,71.6,105.5,109.6,52.6,"1,679.5"

In [ ]:
#header

new_header = Samoa_GDP_raw.iloc[0]
Samoa_GDP_raw = Samoa_GDP_raw[1:] 
Samoa_GDP_raw.columns = new_header 


#remove rows 

Samoa_GDP_1 = Samoa_GDP_raw.iloc[np.r_[50:60]]
Samoa_GDP_1['date'] = Samoa_GDP_1.iloc[:,0]
Samoa_GDP_1 = Samoa_GDP_1.drop(Samoa_GDP_1.columns[0], axis=1)

#set index 
Samoa_GDP_1 = Samoa_GDP_1.set_index('date')

#unstack 
Samoa_GDP_2 = Samoa_GDP_1.unstack().reset_index(level = 'date')

#first level of wrangling 

Samoa_GDP_2['name'] = 'GDP_' + Samoa_GDP_2.index
Samoa_GDP_2['value'] = Samoa_GDP_2[0]

/Users/ethel/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
#second wrangling 

Samoa_GDP_3 = Samoa_GDP_2

Samoa_GDP_3['frequency'] = 'quartely'
Samoa_GDP_3['country'] = 'wsm'
Samoa_GDP_3['source'] = 'Samoa_Bureau_Statistics'
Samoa_GDP_3['category'] = 'GDP'
Samoa_GDP_3['properties'] = '{currency = tala}'

Samoa_GDP_3['metric_key'] = Samoa_GDP_3['name'] + '_' + Samoa_GDP_3['date']

In [ ]:
#set order 

cols = ['metric_key','frequency','country','category','source','name','date','value','properties']
Samoa_GDP_3 = Samoa_GDP_3[cols]

#drop index
Samoa_GDP_3.reset_index( inplace=True)
Samoa_GDP_3 = Samoa_GDP_3.drop(Samoa_GDP_3.columns[0], axis=1)

Samoa_GDP_3.head()

,metric_key,frequency,country,category,source,name,date,value,properties
0,GDP_Agriculture_Dec-17,quartely,wsm,GDP,Samoa_Bureau_Statistics,GDP_Agriculture,Dec-17,37.6,{currency = tala}
1,GDP_Agriculture_Mar-18,quartely,wsm,GDP,Samoa_Bureau_Statistics,GDP_Agriculture,Mar-18,40.1,{currency = tala}
2,GDP_Agriculture_Jun-18,quartely,wsm,GDP,Samoa_Bureau_Statistics,GDP_Agriculture,Jun-18,33.4,{currency = tala}
3,GDP_Agriculture_Sep-18,quartely,wsm,GDP,Samoa_Bureau_Statistics,GDP_Agriculture,Sep-18,38.1,{currency = tala}
4,GDP_Agriculture_Dec-18,quartely,wsm,GDP,Samoa_Bureau_Statistics,GDP_Agriculture,Dec-18,44.2,{currency = tala}

### Palau 

CPI quarterly

In [ ]:
# import data


#2018
#PW_CPI_2018_mar = pd.read_clipboard(header=None, squeeze=True)
#PW_CPI_2018_jun = pd.read_clipboard(header=None, squeeze=True)
#PW_CPI_2018_sep = pd.read_clipboard(header=None, squeeze=True)
#PW_CPI_2018_dec = pd.read_clipboard(header=None, squeeze=True)



#2019
#PW_CPI_2019_mar =pd.read_clipboard(header=None, squeeze=True)
#PW_CPI_2019_jun = pd.read_clipboard(header=None, squeeze=True)
#PW_CPI_2019_sep = pd.read_clipboard(header=None, squeeze=True)
#PW_CPI_2019_dec = pd.read_clipboard(header=None, squeeze=True)




#2019
#PW_CPI_2020_mar = pd.read_clipboard(header=None, squeeze=True)

In [ ]:
#import cleaned data 
#refers to AIS_Palau_CPI.ipynb for full script 

pw_cpi = pd.read_csv('PW_CPI_clean.csv')

### Cook Islands 

GDP quarterly

In [ ]:
CK_GDP_raw = pd.read_csv('cook_islands_quartely_GDP.csv', skiprows = 4, index_col=0)
CK_GDP_raw.head()

,Calendar year,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Quarterly,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
Industry,,,,,,,,,,,,,,,,,,
NaN,2015,2016.0,2017.0,2018.0,2019.0,Mar-17,Jun-17,Sep-17,Dec-17,Mar-18,Jun-18,Sep-18,Dec-18,Mar-19,Jun-19,Sep-19,Dec-19,Mar-20
NaN,NZD million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Primary industries,12.4,11.8,14.2,14.0,14.0,3.4,3.6,3.8,3.4,3.8,3.5,3.3,3.4,3.0,3.6,3.7,3.7,3.6
Agriculture,11.1,10.4,12.7,12.4,11.6,3.0,3.3,3.4,3.0,3.6,3.0,2.9,2.9,2.6,3.0,3.0,3.1,3.0
Fishing incl Pearls,1.3,1.4,1.5,1.6,2.3,0.4,0.4,0.4,0.4,0.2,0.5,0.4,0.5,0.4,0.5,0.7,0.6,0.6

In [ ]:
#clean

new_header = CK_GDP_raw.iloc[0] 
CK_GDP_raw = CK_GDP_raw[1:] 
CK_GDP_raw.columns = new_header

#wrangle

CK_GDP_1 = CK_GDP_raw

#select columns columns 
CK_GDP_1 = CK_GDP_1.iloc[:, np.r_[6:18]]


#remove rows 
CK_GDP_1 = CK_GDP_1.drop(CK_GDP_1.index[[0,4,9, 25, 27]])


#unstack 
CK_GDP_2 = CK_GDP_1.unstack().reset_index()

#name

CK_GDP_2['name'] = 'GDP_' + CK_GDP_2['Industry']
CK_GDP_2['date'] = CK_GDP_2.iloc[:,0]
CK_GDP_2['value'] = CK_GDP_2[0]

In [ ]:
#second wrangling 

CK_GDP_3 = CK_GDP_2

CK_GDP_3['frequency'] = 'quartely'
CK_GDP_3['country'] = 'ck'
CK_GDP_3['source'] = 'National_stat_ck'
CK_GDP_3['category'] = 'GDP'
CK_GDP_3['properties'] = '{currency = nzd}'

CK_GDP_3['metric_key'] = CK_GDP_3['name'] + '_' + CK_GDP_3['date']

In [ ]:

cols = ['metric_key','frequency','country','category','source','name','date','value','properties']
CK_GDP_3 = CK_GDP_3[cols]
CK_GDP_3.head()

,metric_key,frequency,country,category,source,name,date,value,properties
0,GDP_Primary industries_Jun-17,quartely,ck,GDP,National_stat_ck,GDP_Primary industries,Jun-17,3.6,{currency = nzd}
1,GDP_Agriculture_Jun-17,quartely,ck,GDP,National_stat_ck,GDP_Agriculture,Jun-17,3.3,{currency = nzd}
2,GDP_Fishing incl Pearls_Jun-17,quartely,ck,GDP,National_stat_ck,GDP_Fishing incl Pearls,Jun-17,0.4,{currency = nzd}
3,GDP_Goods-producing industries_Jun-17,quartely,ck,GDP,National_stat_ck,GDP_Goods-producing industries,Jun-17,8.4,{currency = nzd}
4,GDP_Mining and Manufacturing_Jun-17,quartely,ck,GDP,National_stat_ck,GDP_Mining and Manufacturing,Jun-17,2.9,{currency = nzd}

In [ ]:
### Vanuatu

### Kiribati 

CPI quarterly

In [ ]:
# import data

Kiribati_CPI_raw = pd.read_csv('Kiribati_CPI_quart.csv')

In [ ]:
#clean

Kiribati_CPI_1 = Kiribati_CPI_raw

#remove columns 

Kiribati_CPI_1 = Kiribati_CPI_1.iloc[:, np.r_[1,147:171]]


#remove rows 

Kiribati_CPI_1 = Kiribati_CPI_1.iloc[np.r_[5:16]]

In [ ]:
#adding columns 

Kiribati_CPI_1.columns = ['industries',
    
                            '2018-01-01', 
                          '2018-02-01', 
                          '2018-03-01', 
                          '2018-04-01', 
                          '2018-05-01', 
                          '2018-06-01', 
                          '2018-07-01', 
                          '2018-08-01',
                          '2018-09-01', 
                          '2018-10-01', 
                          '2018-11-01', 
                          '2018-12-01', 
                          
                          '2019-01-01', 
                          '2019-02-01', 
                          '2019-03-01', 
                          '2019-04-01', 
                          '2019-05-01', 
                          '2019-06-01', 
                          '2019-07-01', 
                          '2019-08-01', 
                          '2019-09-01', 
                          '2019-10-01', 
                          '2019-11-01', 
                          '2019-12-01']

In [ ]:
#unstack 


Kiribati_CPI_2 = Kiribati_CPI_1.set_index('industries')
Kiribati_CPI_2 = Kiribati_CPI_2.unstack().reset_index()

In [ ]:
#wrangling

Kiribati_CPI_2['name'] = 'CPI_2006_' + Kiribati_CPI_2['industries']
Kiribati_CPI_2['value'] = Kiribati_CPI_2[0]


#columns and final wrangling 

Kiribati_CPI_3 = Kiribati_CPI_2

Kiribati_CPI_3['frequency'] = 'monthly'
Kiribati_CPI_3['country'] = 'kir'
Kiribati_CPI_3['source'] = 'Official_kiribati'
Kiribati_CPI_3['category'] = 'CPI'
Kiribati_CPI_3['properties'] = 'none'
Kiribati_CPI_3['date'] = Kiribati_CPI_3['level_0'] 

Kiribati_CPI_3['metric_key'] = Kiribati_CPI_3['name'] + '_' + Kiribati_CPI_3['date']


#set order 

cols = ['metric_key','frequency','country','category','source','name','date','value','properties']
Kiribati_CPI_3 = Kiribati_CPI_3[cols]
Kiribati_CPI_3.head()

,metric_key,frequency,country,category,source,name,date,value,properties
0,CPI_2006_ALL ITEMS_2018-01-01,monthly,kir,CPI,Official_kiribati,CPI_2006_ALL ITEMS,2018-01-01,130.3,none
1,CPI_2006_FOOD_2018-01-01,monthly,kir,CPI,Official_kiribati,CPI_2006_FOOD,2018-01-01,129.6,none
2,CPI_2006_NON-ALCOHOLIC DRINKS_2018-01-01,monthly,kir,CPI,Official_kiribati,CPI_2006_NON-ALCOHOLIC DRINKS,2018-01-01,163.4,none
3,CPI_2006_ALCOHOL/TOBACCO_2018-01-01,monthly,kir,CPI,Official_kiribati,CPI_2006_ALCOHOL/TOBACCO,2018-01-01,147.3,none
4,CPI_2006_CLOTHING_2018-01-01,monthly,kir,CPI,Official_kiribati,CPI_2006_CLOTHING,2018-01-01,106.9,none

# upload to DB

In [ ]:
# Setup
import os
from dotenv import load_dotenv, find_dotenv

# find .env automagically by walking up directories until it's found
dotenv_path = find_dotenv()

# load up the entries as environment variables
load_dotenv(dotenv_path)

dbuname = 'postgres'
dbpassword = 'postgres'
dbhost = 'ais-hack.cirquhp75zcc.us-east-2.rds.amazonaws.com'
dbport = '5432'
dbname = 'aishackathon'

import sqlalchemy
import psycopg2

In [ ]:
connection_str = 'postgresql+psycopg2://'+dbuname+':'+dbpassword+'@'+dbhost+':'+dbport+'/'+dbname

In [ ]:
try:
    engine = sqlalchemy.create_engine(connection_str)
    conn = engine.connect()
except:
    print('Database connection error - check creds')

In [ ]:
#upload

In [ ]:
#Fiji

Fiji_CPI_04.to_sql('country_metrics',conn,if_exists='append',index=False,method='multi')

In [ ]:
sb_CPI = sb_CPI.iloc[:,np.r_[1:10]]

In [ ]:
#Solomon Islands

sb_CPI.to_sql('country_metrics',conn,if_exists='append',index=False,method='multi')

In [ ]:
#Samoa

Samoa_GDP_3.to_sql('country_metrics',conn,if_exists='append',index=False,method='multi')

In [ ]:
pw_cpi = pw_cpi.iloc[:,np.r_[1:10]]

In [ ]:
#Palau 

pw_cpi.to_sql('country_metrics',conn,if_exists='append',index=False,method='multi')

In [ ]:
#cook islands 

CK_GDP_3.to_sql('country_metrics',conn,if_exists='append',index=False,method='multi')

In [ ]:
#Kiribati

Kiribati_CPI_3.to_sql('country_metrics',conn,if_exists='replace',index=False,method='multi')